{% set active = 'settings' %}
{% extends '::layout.html.twig' %}
{% form_theme form 'CoreResourcesBundle:Form:fields.html.twig' %}

{% block panel %}

<h5 class="widget-name"><i class="icon-cog"></i>Mis datos personales</h5>
<div class="row-fluid">
    <div class="span12">

        <form method="post" class="form form-horizontal" {{form_enctype(form) }}>
        <fieldset>

            <!-- General form elements -->
            <div class="widget row-fluid">

                <div class="well">
                    {{ form_widget(form) }}
                </div>
            </div>
        </fieldset>
        <div style="text-align:center">
                <input type="submit" class="btn btn-success btn-large" value="Actualizar Datos">
            </div>
        </form>
    </div>
</div>



    {% endblock %}

