{% set active = 'settings' %}
{% extends '::layout.html.twig' %}

{% block panel %}

<div class="span12">
    <div class="box">
        <div class="tab-header">
            Mis datos personales
                <span class="pull-right">
                  <span class="options">
                    <a href="#"><i class="icon-cog"></i></a>
                  </span>
                </span>
        </div>

        <form method="post" class="fill-up">
            <div class="padded">
                {{ form_widget(form) }}
            </div>
            <div class="form-actions">
                <input type="submit" class="btn button gray span3" value="Actualizar datos">


            </div>

        </form>
    </div>


    {% endblock %}

{% block nav_secondary%}{% endblock %}