{% extends 'UserGuessBundle:Web:layout.html.twig'%}
{% block content %}

		<!-- Header Wrapper -->
			<div id="header-wrapper">
						
				<!-- Header -->
					<div id="header" class="container">
						
						<!-- Logo -->
							<h1 id="logo"><a href="#">Varavan</a></h1>
							<p>Sistema de videoconferencia para profesionales</p>
							
					</div>

			</div>

			<div id="features-wrapper">
				<section id="features" class="container">
					<div class="row marketing">
							<div class="4u">

								<!-- Feature -->
									<section>
										<i class="icon icon-facetime-video"></i>
										<header>
											<h3>Confianza en alta calidad</h3>
										</header>
										<p>Sorprenda a sus clientes con su propia plataforma de vídeoconferencia de alta calidad y estabilidad, gracias al revolucionario códec <i>VP8</i> y la tecnología <i>WebRTC</i>. </p>
									</section>

							</div>
							<div class="4u">

								<!-- Feature -->
									<section>
										<i class="icon icon-briefcase"></i>
										<header>
											<h3>Trabaja desde cualquier sitio</h3>
										</header>
										<p>Te ofrecemos herramientas para que puedas organizar tus oficina online: consulta privada, calendario de citas, gestión de informes, etc. </p>
									</section>
									
							</div>
							<div class="4u">

								<!-- Feature -->
									<section>
										<i class="icon icon-rotate-right"></i>
										<header>
											<h3>Rentabiliza tus servicios online</h3>
										</header>
										<p>Si tu tiempo es oro, podrás establecer un coste por sesión o por minuto, de manera que tus usuarios podrán pagar tus consultas al instante.</p>
									</section>

							</div>
						</div>
				</section>
			</div>

			{% if sent != true %}
		<!-- Banner Wrapper -->
			<div id="banner-wrapper">
				<section>
				<div class="row">
						<div class="1u">
							&nbsp;
						</div>
						<div class="6u">
							<a href="{{ path('home_promo') }}" class="button cupid-green" style="display:block;">Pruébalo Gratis</a>
						</div>
						<div class="4u">
							<a href="{{ path('fos_user_security_login') }}" class="button button-icon icon icon-home" style="display:block">Acceso a Miembros</a>
						</div>
					</div>
				</section>
				<div class="inner">


					<!-- Banner -->
						<section id="banner" class="container">
							<p>Vídeo de <strong>alta calidad</strong>.<br />
							para profesionales de última generación.</p>
						</section>

				</div>
			</div>
			{% endif %}

{% endblock %}
{% block footer %}

				<!-- Footer -->
				{% if sent != true %}

				

					<div id="footer" class="container">
						<header>
							<h2>¿Estás interesado? <strong>Déjanos tus datos:</strong></h2>
						</header>
						<div class="row">
							<div class="3u">
								<hr>
							</div>
							<div class="6u">	
								<section>
									<form method="post" action="#">
										<div class="row">
											<div class="6u">
												<input name="form[name]" placeholder="Nombre" type="text" class="text" />
											</div>
											<div class="6u">
												<input name="form[email]" placeholder="Correo Electrónico" type="text" class="text" />
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<textarea name="form[message]" placeholder="Comentarios"></textarea>
											</div>
										</div>
										<div class="row">
											<div class="12u">
												{{form_widget(form._token)}}
												<button type="submit" href="#" class="button button-icon icon icon-envelope" style="width:100%">Soliciar Información</button>
											</div>
										</div>
									</form>
								</section>
							</div>
							<div class="3u">
								<hr>
							</div>
						</div>
					</div>

								{% else %}
					<div id="footer" class="container">
						<header>
							<h2>Le informaremos <strong>lo antes posible</strong></h2>
							<div style="text-align:center"><h3>Gracias por su confianza.</h3></div>
						</header>
					</div>
								{% endif %}
{% endblock %}

			