{% extends 'UserGuessBundle:Web:layout.html.twig'%}
{% block content %}

		<!-- Header Wrapper -->
			<div id="header-wrapper">
						
				<!-- Header -->
					<div id="header" class="container">
						
						<!-- Logo -->
							<h1 id="logo"><a href="#">Varavan</a></h1>
							<p>Crea tu consulta online en unos segundos</p>
							
					</div>

			</div>

			<div id="features-wrapper">
				<header>
							<h2>1. <strong>Registrate a través de tu LinkedIn</strong></h2>
						</header>
						<div class="row">
							<div class="3u">
								<hr>
							</div>
							<div class="6u">	
								<section>
									<a href="{{ path('hwi_oauth_service_redirect',{service:'linkedin'}) }}"><img src="http://developer.linkedin.com/sites/default/files/spanish-sign-in.png"></a>
									<br>
									<b>Y empieza a disfrutar gratis de tu propia oficina vritual</b>

								</section>
									<div class="3u">
									</div>
									<div class="6u">
									<ul class="style1">
										<li>Video llamada de alta calidad</li>
										<li>Gestión de Clientes</li>
										<li>Gestión de Citas Online</li>
										<li>Informes y seguimiento de clientes</li>
									</ul>
									</div>

							</div>
							<div class="3u">
								<hr>
							</div>
						</div>
			</div>

			

{% endblock %}
{% block footer %}

{% endblock %}

			