{% extends 'UserGuessBundle:Web:layout.html.twig'%}
{% block content %}

		<!-- Header Wrapper -->
			<div id="header-wrapper">
						
				<!-- Header -->
					<div id="header" class="container">
						
						<!-- Logo -->
							<h1 id="logo"><a href="#">Varavan</a></h1>
							<p>Sistema de videoconferencia para profesionales</p>
							
					</div>

			</div>

			<div id="features-wrapper">
				<header>
							<h2>¿Estás interesado? <strong>Déjanos tus datos:</strong></h2>
						</header>
						<div class="row">
							<div class="3u">
								<hr>
							</div>
							<div class="6u">	
								<section>
									<form method="post" action="#">
										<div class="row">
											<div class="6u">
												<input name="form[name]" placeholder="Nombre" type="text" class="text" />
											</div>
											<div class="6u">
												<input name="form[email]" placeholder="Correo Electrónico" type="text" class="text" />
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<textarea name="form[message]" placeholder="Comentarios"></textarea>
											</div>
										</div>
										<div class="row">
											<div class="12u">
												{{form_widget(form._token)}}
												<button type="submit" href="#" class="button button-icon icon icon-envelope" style="width:100%">Soliciar Información</button>
											</div>
										</div>
									</form>
								</section>
							</div>
							<div class="3u">
								<hr>
							</div>
						</div>
			</div>

			

{% endblock %}
{% block footer %}

{% endblock %}

			