# Bootstrap
app/bootstrap*

.DS_Store
*/.DS_Store/*
.idea
*/.idea/*
# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
