<ul class="round-buttons">
    <li><div class="depth"><a href="{{ path('profesional_calendar') }}" title="" class="tip" data-original-title="Programar Cita"><i class="icon-calendar"></i> Programar Cita<strong></strong></a></div></li>
    <li><div class="depth"><a href="{{ path('profesional_add_event') }}" title="" class="tip" data-original-title="Programar Cita"><i class="icon-plus"></i> Programar Cita<strong></strong></a></div></li>
</ul>
