<ul class="round-buttons">
    <li><div class="depth"><a rel="tooltip" title="Ver Calendario" href="{{ path('profesional_calendar') }}"><i class="icon-calendar"></i> Ver Calendario<strong></strong></a></div></li>
    <li><div class="depth"><a rel="tooltip" title="Programar Cita"  href="{{ path('profesional_add_event') }}"><i class="icon-plus"></i> Programar Cita<strong></strong></a></div></li>
</ul>
