{% set active = 'clientes' %}
{% extends '::base.html.twig' %}

{% block panel %}

    <div class="span8">
        <h1>Añadir un nuevo cliente</h1>

        <form method="post">
        {{ form_widget(form) }}
        <hr>
            <input type="submit" class="btn btn-success" value="Registrar usuario">
        </form>
    </div>

    <div class="span4">
        {% include 'UserProfesionalBundle:Clientes:menu.html.twig' %}
    </div>
{% endblock %}