{% set active = 'clientes' %}
{% extends '::layout.html.twig' %}
{% form_theme form 'CoreResourcesBundle:Form:fields.html.twig' %}
{% block panel %}<br>
<h5 class="widget-name"><i class="icon-plus"></i>Añadir un nuevo cliente</h5>
<div class="span12">
    <div class="box">

        <form method="post" class="form form-horizontal" {{form_enctype(form) }}>
        <fieldset>

                        <!-- General form elements -->
                        <div class="widget row-fluid">

                            <div class="well">

                                {{ form_widget(form.user) }}
                                {{ form_rest(form) }}
                                
                            </div>
                        </div>
                        <!-- /general form elements -->

                    </fieldset>
            <div style="text-align:center">
                <input type="submit" class="btn btn-success btn-large" value="Registrar usuario">
            </div>
        </form>
    </div>
</div>


    {% endblock %}

{% block section_nav %}
{% include 'UserProfesionalBundle:Clientes:menu.html.twig' %}
{% endblock %}
