{% set active = 'clientes' %}
{% extends '::layout.html.twig' %}
{% form_theme form 'CoreResourcesBundle:Form:fields.html.twig' %}
{% block panel %}
<br>
{% include 'UserProfesionalBundle:Clientes:buttons.html.twig' with {'cliente':cliente} %}
<h5 class="widget-name">
    <i class="icon-table"></i> Editar Cuenta
</h5>
<div class="widget">
<div class="row-fluid">

<div class="span12">
    <div class="box">
        <div class="tab-header">
                <span class="pull-right">
                  <span class="options">
                    <a href="#"><i class="icon-cog"></i></a>
                  </span>
                </span>
        </div>

        <form method="post" class="form form-horizontal" {{form_enctype(form) }}>
            <fieldset>

                        <!-- General form elements -->
                        <div class="widget row-fluid">

                            <div class="well">
                                {{ form_widget(form.user) }}
                                {{ form_rest(form) }}
                                
                            </div>
                        </div>
                        <!-- /general form elements -->

                    </fieldset>
                    <div style="text-align:center">
            <input type="submit" class="btn btn-success" value="Editar cliente">
            </div>
        </form>
    </div>
</div>
</div>


    {% endblock %}
