{% set active = 'clientes' %}
{% extends '::layout.html.twig' %}

{% block panel %}
    <div class="span12">
        <div class="box">
            <div class="tab-header">
                <i class="icon-th-list"></i> Mis clientes
            </div>
            <div class="padded">
                Desde aqui podrás ver todos tus clientes registrados

            </div>
        </div>
    </div>

    <div class="row-fluid">
        {% for cliente in clientes %}
            <div class="span4">
                <div class="black-box">
                    <div class="tab-header">
                        <i class="icon-user"></i> {{ cliente.user.name }} {{ cliente.user.surname }}
                    </div>

                    <div class="padded">
                        <div class="profilepic pull-left" >
                        <img src="{{ asset(cliente.user.webPath) }}" style="height: 78px" height="78px">
                        </div>
                        <a class="button large pull-right" href="{{ path('profesional_clientes_show', {'idCliente': cliente.id}) }}">
                            <i class="icon-arrow-right"></i>
                            <span>Ver más</span>
                        </a>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>

        {% else %}
            <li><b>No existen clientes</b></li>
        {% endfor %}
    </div>



{% endblock %}

{% block nav_secondary %}
    {% include 'UserProfesionalBundle:Clientes:menu.html.twig' %}
{% endblock %}