{% extends '::base.html.twig' %}

{% block panel %}

    <div class="span8">
        <h1>Mis clientes</h1>
        <ul>
            {% for cliente in clientes %}
                <li><a href="{{ path('profesional_clientes_show', {'idCliente': cliente.id}) }}">{{ cliente.user.name }} {{ cliente.user.surname }}</a> </li>
            {% else %}
                 <li><b>No existen clientes</b></li>
            {% endfor %}
        </ul>
    </div>

    <div class="span4">
       {% include 'UserProfesionalBundle:Clientes:menu.html.twig' %}
    </div>
{% endblock %}