{% set active = 'consulta' %}
{% extends '::videoconference.html.twig' %}
{% block extra_videoconference %}
    <div id="loadingInfoUser" class="hide">
        <div class="progress progress-striped">
            <div class="bar" style="width: 100%;"></div>
        </div>
    </div>
    <div id="infoUserInCall">

    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="{{ asset('bundles/coreresources/js/bootstrap.min.js') }}"></script>

    <script type="text/javascript">
        function videoconferenceStart() {

            if(currentCall.caller == callMyId){
                var anotherSideUser = currentCall.receiver;
            }else{
                var anotherSideUser = currentCall.caller;
            }


            //$("#infoUserInCall").html("");
            //saco la informacion del usuario

            //$("#loadingInfoUser").fadeIn();

            //peticion ajax para sacar la info del usuario

            //recibo informes
            $.post(
                "{{ path('profesional_retrieve_chunk_user') }}",
                { idUser: callCallerId },
                function(response){
                    //la response que llega la metemos directamente en su sitio
                    //$("#loadingInfoUser").fadeOut();
                    //$("#infoUserInCall").html(response);
                    setTimeout(function(){
                        //$("#infoUserInCall").fadeIn();
                    }, 2000);


                }

            );

            //recibo archivos
            $.get(
                    Routing.generate('core_fileserver_uploader', { idUser: anotherSideUser, redirect: 'ajax'}),
                    { idUser: callCallerId },
                    function(response){

                        var buffer = "<div id='file_upload_container'>"+response+"</div>";

                        $("#archivos").append(buffer);


                    }

            );

        }
        function clearInformes(){
            //$(".informeCliente").fadeOut();
        }
    </script>

{% endblock %}