{% extends '::layout.html.twig' %}
{% set active = 'settings' %}
{% block section_nav %}

<ul class="round-buttons">
    <li>
      <div class="depth {% if secondary_active == 'settings' %} active{% endif %}">
        <a href="{{ path('profesional_settings') }}" title="" class="tip" data-original-title="Cuenta"><i class="icon-cog"></i> Cuenta<strong></strong></a></div>
    </li>
    <li>
      <div class="depth {% if secondary_active == 'styles' %} active{% endif %}">
        <a href="{{ path('profesional_style') }}" title="" class="tip" data-original-title="Personalizar Consulta"><i class="icon-picture"></i> Personalizar<strong></strong></a></div>
    </li>
    <li>
      <div class="depth {% if secondary_active == 'plans' %} active{% endif %}">
        <a href="{{ path('profesional_plans') }}" title="" class="tip" data-original-title="Pagos"><i class="icon-credit-card"></i> Pagos<strong></strong></a></div>
    </li>
</ul>
    {% endblock %}