{% extends '::layout.html.twig' %}
{% set active = 'settings' %}
{% block section_nav %}

<ul class="round-buttons">
    <li>
      <div class="depth {% if secondary_active == 'settings' %} active{% endif %}">
        <a href="{{ path('profesional_settings') }}"  data-toggle="tooltip" title="Cuenta"><i class="icon-cog"></i> Cuenta<strong></strong></a></div>
    </li>
    <li>
      <div class="depth {% if secondary_active == 'styles' %} active{% endif %}">
        <a href="{{ path('profesional_style') }}"  data-toggle="tooltip" title="Personalizar consulta"><i class="icon-picture"></i> Personalizar<strong></strong></a></div>
    </li>
    <li>
      <div class="depth {% if secondary_active == 'plans' %} active{% endif %}">
        <a href="{{ path('profesional_plans') }}"  data-toggle="tooltip" title="Planes y Pagos"><i class="icon-credit-card"></i> Pagos<strong></strong></a></div>
    </li>
</ul>
    {% endblock %}