{% extends '::base.html.twig' %}

{% block panel %}

    <div class="span8">
        <h1>Mis preferencias</h1>
        <form method="post">
        {{ form_widget(form) }}

            <hr >
            <input type="submit" class="btn btn-danger" value="Editar información">
        </form>
    </div>

    <div class="span4">
        <div class="alert alert-info">
            Modifica tus datos personales desde esta pestaña
        </div>
    </div>
{% endblock %}