{% set active = 'settings' %}
{% extends '::layout.html.twig' %}

{% block panel %}

    <div class="row">
        <div class="offset1 span5">
            <div class="box">
                <div class="tab-header">
                    Mis datos personales
                <span class="pull-right">
                  <span class="options">
                    <a href="#"><i class="icon-cog"></i></a>
                  </span>
                </span>
                </div>

                <form method="post" class="fill-up" {{ form_enctype(form) }}>
                    <div class="padded">
                        {% if app.user.webPath is not empty %}
                            <img src="{{ asset(app.user.webPath) }}" width="100px" style="width: 100px"
                                 class="pull-right">
                            <div style="clear:both"></div>

                            <hr>
                        {% endif %}
                        {{ form_widget(form) }}
                    </div>
                    <div class="form-actions">
                        <input type="submit" class="btn button gray span3" value="Actualizar datos">


                    </div>

                </form>
            </div>
        </div>
        <div class="span5 box">
            <div class="tab-header">
                Información de facturación
            </div>

            <div class="padded">
                <a href="{{ path('profesional_buy_product', {'symbol': 'test_plan'}) }}">Comprar pla</a>
            </div>
        </div>
    </div>


{% endblock %}

{% block nav_secondary %}{% endblock %}