{% extends 'UserProfesionalBundle:Default:settings_layout.html.twig' %}
{% set secondary_active = 'settings' %}
{% form_theme form 'CoreResourcesBundle:Form:fields.html.twig' %}

{% block panel %}
    <h5 class="widget-name"><i class="icon-cog"></i>Mis datos personales</h5>
    <div class="row-fluid">
        <div class="span12">
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Desde esta sección podrás modificar los datos con los que tus clientes podrán reconocerte
            </div>
        </div>
    </div>
    <div class="row-fluid">

        <div class="span12">

            <form method="post" class="form form-horizontal" {{ form_enctype(form) }}>
                <fieldset>

                    <!-- General form elements -->
                    <div class="widget row-fluid">

                        <div class="well">
                            {{ form_widget(form) }}
                        </div>
                    </div>
                </fieldset>
                <div style="text-align:center">
                    <input type="submit" class="btn btn-success btn-large" value="Actualizar Datos">
                </div>
            </form>
        </div>
    </div>

{% endblock %}


