{% extends 'UserProfesionalBundle:Template:layout.html.twig' %}
{% block nav %}
        <div id="navigation" style="margin-bottom: 20px; margin-top: -30px; text-align:right; padding-right: 60px;">
            <a class="yellowButton" href="acceso">Acceder a la Consulta</a>
        </div>
{% endblock %}
{% block sidebar %}
    <div id = "information" class = "block">

        <h2>Perfil</h2>
        <div class = "block-content">
            <div class = "field">
            <img src="{{ asset(user.getWebPath()) }}" width="100%">
            </div>
        </div>
        <br>
        <div class="block-content">
            <a href="#" class="button" style="margin-left: 44px">Contactar</a>
        </div>
    </div>
{% endblock %}
{% block content %}
<div class = "body">
<h1>Profesional de la Agricultura porcina</h1>
    <p>Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et. Sed sapien urna, auctor et accumsan ut, accumsan sit amet dui.</p>
</div>
<h1>{{ user.getName() }} domina las siguientes áreas:</h1>
<ul id="portfolio-menu">
    <li><a>Phonegap</a></li>
    <li><a>CSS3</a></li>
    <li><a>JavaScript</a></li>
</ul>
{% endblock %}