
<ul class="round-buttons">
    <li><div class="depth"><a href="{{ path('admin_professionals') }}" data-toggle="tooltip" title="Listar Profesionales"><i class="icon-reorder"></i> Listar Profesionales<strong></strong></a></div></li>
    <li><div class="depth"><a href="{{ path('admin_professionals_add') }}" data-toggle="tooltip" title="Añadir Cliente"><i class="icon-plus"></i> Añadir Profesional<strong></strong></a></div></li>
</ul>
