{% extends '::layout.html.twig' %}

{% block body %}
<body class="no-background">
{% if app.session.get('subdomain') == false %}
<!-- Fixed top -->
    <div id="top">
        <div class="fixed">
            <a href="index.html" title="" class="custom-logo">VARAVAN</a>
            <ul class="top-menu">
                
            </ul>
        </div>
    </div>
    <!-- /fixed top -->
    {% endif %}


    <!-- Login block -->
    <div class="login" style="margin-top: -242px;">
        {% if app.session.get('subdomain') == false %}
        <div class="navbar">
            <div class="navbar-inner">
                <h6><i class="icon-user"></i>Acceda a su Cuenta</h6>
                <div class="nav pull-right">
                </div>
            </div>
        </div>
        {% endif %}
        <div class="well">

            {% if app.session.get('subdomain') %}
                {% if app.session.get('style') %}
                    <img src="{{asset(app.session.get('style'))}}" width="100%" style="width:100%">
                {% else %}
                    <img src="{{asset('images/styles')}}/{{app.session.get('subdomain')}}/logo.png" width="100%" style="width:100%">
                {% endif %}
            {% else %}
            <img src="{{asset('bundles/coreresources/images/logo.png')}}" width="100%" style="width:100%">
            {% endif %}

                        {% block fos_user_content %}
                        {% endblock fos_user_content %}

        </div>
    </div>
    <!-- /login block -->


    <!-- Footer -->
    <div id="footer">
        <div class="copyrights">Un producto de 3media.es</div>
        <ul class="footer-links">
            <li><a href="" title=""><i class="icon-screenshot"></i>Reportar Incidencia</a></li>
        </ul>
    </div>
    <!-- /footer -->
{% endblock %}
