{% block form_row %}
    <div class="control-group">
        {{ form_label(form,null,{'label_attr':{class:'control-label'}}) }}
        {{ form_errors(form) }}
        <div class="controls">
        	{{ form_widget(form) }}
        </div>
    </div>
{% endblock form_row %}