<div id="callchat" style="height: 240px;">

    <div class="chat">
        <div class="chat-wrapper">
            <div id="chat-history" class="chat-history"></div>
            <div class="input-prepend input-append">

                <input type="text" id="callchatinput" placeholder="Escriba un mensaje y pulse enter.">
                <span class="add-on">
                  {% render "CoreCallBundle:Chat:upload" %}

                </span>
            </div>
        </div>
    </div>
</div>
