<div class="hide callLoading2" style="margin-top: 5px;">
    <div class="progress progress-striped">
        <div class="bar" style="width: 100%;"></div>
    </div>
</div>
<div class="well hide" style="margin-bottom: 0px; height: 50px; background-color: #69E0D2; padding: 10px; margin-top: 5px;" id="infoUser">
    <div class="first" style="float: left;">
        <img height="50px;" style="max-width: 50px; height: 50px;" src=""></a>
    </div>
    <div class="second" style="float: left; margin-left: 10px;">
    </div>
</div>
