<div class="hide callLoading2" style="margin-top: 5px;">
    <div class="progress progress-striped">
        <div class="bar" style="width: 100%;"></div>
    </div>
</div>
<div class="box hide" id="infoUser">
    <div class="tab-header">Información del usuario</div>

    <div class="second padded">
    </div>
</div>
