<div class="hide callLoading2" style="margin-top: 5px;">
    <div class="progress progress-striped">
        <div class="bar" style="width: 100%;"></div>
    </div>
</div>
<div class="box hide" id="infoUser">
    <div class="tab-header">Información del usuario</div>

    <div class="padded">
        <div class="first pull-left">
            <img src="" width="100px" style="width: 100px">
        </div>
        <div class="second pull-right" ></div>
    </div>

    <div style="clear: both; padding-bottom: 10px"></div>
</div>
