<div class="hide callLoading2" style="margin-top: 5px;">
    <div class="progress progress-striped">
        <div class="bar" style="width: 100%;"></div>
    </div>
</div>
<div class="box hide" id="infoUser">
    <h5 class="widget-name"><i class="icon-reorder"></i> Información del usuario</h5>
    
    <div class="padded">
        <div class="navbar"><div class="navbar-inner"><h6 class="name"></h6></div></div>
        <div class="well body">
            <div class="span6">
                Correo electrónico: <br>
                <b class="email"></b>
            </div>

        </div>

    </div>
    <div style="clear: both; padding-bottom: 10px"></div>
</div>
