<script type="text/javascript" src="{{ asset('bundles/corecall/js/PhoneHtml5.js') }}"></script>
<h5 class="widget-name"><i class="icon-facetime-video"></i> Cámara remota</h5>

<div id="contentVideoconferencehtml5RemoteCamera">

    <div class="box span12" style="min-height: 432px; overflow:hidden;">
        <div id="videoconferenceHtml5Prototype"
             style="height: 432px; width: 767px; margin-left: 0px; margin-bottom: 0px; margin-top: -2px;" class="hide"></div>
        <div id="videoconferenceHtml5" style=" height: 432px; width: 767px;margin-left: 0px; margin-bottom: 0px"></div>
    </div>


</div>