<div class="hide callLoading2" style="width: 300px; margin-top: 5px;">
    <!--<div class="progress progress-striped">
        <div class="bar" style="width: 100%;"></div>
    </div>-->
</div>
<div id="callUser" class="caller videoconferencecontrols hide box" id="infoUser">
    <h5 class="widget-name"><i class="icon-facetime-video"></i> Herramientas de conferencia</h5>
    <div class="padded">

            <a class="btn btn-success btn-large green rounded" id="callButton" role="call">
                Llamar
            </a>
            <a class="btn btn-danger btn-large button blue rounded" id="answerButton" style="visibility:hidden">
                Responder
            </a>

    </div>

    <div style="clear:both"></div>

</div>