<script type="text/javascript" src="{{ asset('bundles/corecall/js/PhoneHtml5.js') }}"></script>


<div id="contentVideoconferencehtml5">

    <div class="box span5" style="min-height: 300px">
        <div class="tab-header">
            Cámara remota
        <span class="pull-right">
          <span class="options">
            <a href="#"><i class="icon-facetime-video"></i></a>
          </span>
        </span>
        </div>

        <div id="videoconferenceHtml5Prototype" style="height: 300px; width: 440px; margin-left: 4px; margin-bottom: 4px" class="hide"></div>
        <div id="videoconferenceHtml5" style=" height: 300px; width: 440px;margin-left: 4px; margin-bottom: 4px"></div>
    </div>

    <div class="offset1 span5 box" style="min-height: 300px">
        <div class="tab-header">
          Mi cámara
        <span class="pull-right">
          <span class="options">
            <a href="#"><i class="icon-facetime-video"></i></a>
          </span>
        </span>
        </div>
        <div id="publisherPrototype" style=" height: 300px; width: 440px;margin-left: 4px; margin-bottom: 4px" class="hide"></div>
        <div id="publisher" style="height: 300px;width: 440px;margin-left: 4px; margin-bottom: 4px "></div>
    </div>




</div>