<div class="hide callLoading2" style="width: 300px; margin-top: 5px;">
    <!--<div class="progress progress-striped">
        <div class="bar" style="width: 100%;"></div>
    </div>-->
</div>
<div id="callUser" class="caller videoconferencecontrols hide box" id="infoUser">

    <div class="tab-header">Herramientas de videoconferencia</div>
    <div class="padded">

            <a class="button green rounded" id="callButton" role="call">
                Llamar
            </a>
            <a class="button blue rounded" id="answerButton" style="visibility:hidden">
                Responder
            </a>

    </div>

    <div style="clear:both"></div>

</div>