<script type="text/javascript" src="{{ asset('bundles/corecall/js/PhoneHtml5.js') }}"></script>

<div id="contentVideoconferencehtml5">
<div id="videoconferenceHtml5Prototype" style=" height: 200px; border: 1px solid;" class="hide"></div>
<div id="videoconferenceHtml5" style=" height: 200px; border: 1px solid;"></div>
    <div id="publisherPrototype" style="width: 200px; height: 150px; border: 1px solid;" class="hide"></div>
    <div id="publisher" style="width: 200px; height: 150px; border: 1px solid;"></div>
</div>