{% extends 'UserProfesionalBundle.Email:layout.html.twig' %}
{% block title %}{% endblock %}
{% block mail_title %}{% endblock %}
{% block content %}
 <p style="font-family: Georgia, &quot;Palatino-Roman&quot;, &quot;PalatinoLinotype-Roman&quot;, Times, serif;line-height: 1.8; color: #555;">Estimado Cliente,<br/><!--
          Le invitamos cordialmente a la noche de premiaciones de la EXPO ARTCOM otoño 2010 · Portafolio estudiantil de fin de semestre. Comenzaremos al punto de las 7 de la noche del jueves 2 de diciembre.</p>
          <p>Anunciaremos ganadores en 
          </p>

          -->
          En un seguimiento rutinario del servicio hemos detectado que su establecimiento todavía no ha publicado su oferta semanal en el servicio de PoneELPrecio.</p>

          <p style="font-family: Georgia, &quot;Palatino-Roman&quot;, &quot;PalatinoLinotype-Roman&quot;, Times, serif;line-height: 1.8;color: #555;">Le facilitamos un enlace, para que, si lo desea, pueda reistrar su oferta, asi mismo, le recoradmos que estamos a su disposición para cualquier duda o sugerencia.</p>

          <p style="font-family: Georgia, &quot;Palatino-Roman&quot;, &quot;PalatinoLinotype-Roman&quot;, Times, serif;line-height: 1.8;color: #555;">Atentamente,</p>

          <p style="font-family: Georgia, &quot;Palatino-Roman&quot;, &quot;PalatinoLinotype-Roman&quot;, Times, serif;line-height: 1.8;color: #555;">Iván Guillén<br/><span class="small sans caps gray" style="font-size: 11px;font-family: Arial, Helvetica, sans-serif;text-transform: uppercase;color: #6C6C6C">Coordinador Comercial</span></p>
{% endblock %}